* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #EC715F;
  width: 100%;
  height: 70px;
}

.box1 {
  width: 1024px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.logo {
  width: auto;
  height: 60px;
}

.nav-list {
  font-size: 16px;
  color: #FAFAFA;
}

.nav-list-items {
  list-style-type: none;
  display: flex;
}

li {
  padding: 0 30px;
}

.mainvisual {
  background-image: url(img/mv.png);
  background-size: cover;
  background-position: bottom;
  width: 100%;
  height: 650px;
  margin-bottom: 90px;
}

.mainvisual-content {
  color: #FAFAFA;
  text-align: center;
  padding-top: 200px;
}

.mainvisual-title {
  font-size: 64px;
  padding-bottom: 10px;
}

.mainvisual-body {
  font-size: 20px;
}

main {
  width: 100%;
}

.main-content-1 {
  width: 920px;
  margin: 0 auto 90px;
}

.main-item-sentence {
  text-align: center;
}

.main-item-sentence h3 {
  position: relative;
  font-size: 32px;
  color: #000000;
}

.main-item-sentence h3:before {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -8px;
  width: 70px;
  height: 3px;
  transform: translateX(-50%);
  background-color: #EC715F;
}

.main-item-sentence p {
  margin: 30px auto;
  font-size: 16px;
  color: #000000;
}

.main-content-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.item-img {
  object-fit: cover;
  width: 300px;
  height: 250px;
  margin-bottom: 10px;
}

.item-2 {
  margin: 0 10px;
}

.item-5 {
  margin: 0 10px;
}

.main-content-2 {
  width: 980px;
  margin: 0 auto 90px;
}